<ion-view view-title="Nuevo producto">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">Nuevo producto</h2>
    </div>
    <ion-content class="has-subheader" >
        <div class="row">
            <div class="col center">
                <img src="img/promo/QR.jpg" class="col-80"/>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 col-offset-25">
                <a href="#/detalle-pedido"><button class="button button-block button-positive">Ver pedido</button></a>
            </div>
        </div>
    </ion-content>
</ion-view>
