<ion-view hide-back-button="true" view-title="Inicio">
    <ion-nav-buttons side="secondary">
        <div class="bar-main">
            <a href="#/perfil">
                <button class="button">
                  <i class="icon ion-person"></i>
                10,00€
                </button>
            </a>
            <a href="#/pedido/carrito" class="icon"><i class="button icon ion-ios-cart"></i></a>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="row home-cards">
            <div class="col col-50">
                <div class="card category-card">
                    <a href="#/productos/bocadillos">
                        <div class="item">
                            <h2 class="item-title">Bocadillos</h2>
                            <div class="item item-image">
                                <img src="img/promo/bocadillos.jpg">
                            </div>
                        </div>

                    </a>
                </div>
            </div>
            <div class="col col-50">
                <div class="card category-card">
                    <a href="#/productos/bebidas">
                        <div class="item">
                            <h2 class="item-title">Bebidas</h2>
                        <div class="item item-image">
                            <img src="img/promo/bebidas.jpg">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col col-50">
                <div class="card category-card">
                    <a href="#/productos/cafes">
                        <div class="item">
                            <h2 class="item-title">Cafes</h2>

                        <div class="item item-image">
                            <img src="img/promo/cafes.jpg">
                        </div></div>
                    </a>
                </div>
            </div>
            <div class="col col-50">
                <div class="card category-card">
                    <a href="#/productos/bolleria">
                        <div class="item">
                            <h2 class="item-title">Bolleria</h2>

                        <div class="item item-image">
                            <img src="img/promo/bolleria.jpg">
                        </div></div>
                    </a>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col col-50 col-offset-25">
                <a href="#/recientes"><button class="button button-block button-large button-positive">Recoger</button></a>
            </div>
        </div>-->
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-assertive">
        <a href="#/pedidos/recientes">
            <h1 class="title">Recoger</h1>
        </a>
    </ion-footer-bar>
</ion-view>
