<ion-view hide-back-button="true" view-title="Cafetería FSL">
    <div class="bar bar-subheader">
        <h2 class="title">Iniciar Sesión</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="row">
            <div class="col list responsive-sm">
                <label class="item item-input">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="Tu usuario de la intranet">
              </label>
                <label class="item item-input">
                <span class="input-label">Contraseña</span>
                <input type="password">
              </label>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col col-50 col-offset-25">
                <a href="#/admin/home"><button class="button button-large button-block button-positive">Entrar</button></a>
            </div>
        </div>
    </ion-content>
</ion-view>
