<ion-view view-title="CFSL-Balance">
    <ion-content>
        <div class="bar bar-header bar-stable">
            <h2 class="title">Balance semana</h2>
        </div>
        <div  class="row grafico">
            <div class="col">
                <img class="imagenGrafico" src="img/graficos/graficoBocadillos.jpg">
            </div>
        </div>
        <div class="row grafico">
            <div class="col">
                <img class="imagenGrafico" src="img/graficos/graficoIngresos.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>
