<ion-view hide-back-button="true" view-title="CFSL-Articulo : ">


    <ion-content>
        <div id="especificacionarticulos">
            <div id="tabla_especificacion">
                <div class="row header">
                    <div class="col col-20">Producto</div>
                    <div class="col col-75">Ingredientes</div>
                    <div class="col col-10">Estado</div>

                </div>
                <div class="row">
                    <div class="col col-20">
                        <p>hola</p>
                    </div>
                    <div class="col col-75">
                        <p>hola</p>
                    </div>

                    <div class="col col-10">
                        <ion-checkbox></ion-checkbox>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
