<ion-view hide-back-button="true" view-title="Inicio">
    <ion-content>
        <div class="row ">
            <div class="col col-60 ">

                <div class="row ">
                    <div class="col col-50 col-offset-10 ">
                        <a href="#"><button class="button button-large button-positive">Ver pedidos</button></a>
                    </div>
                    <div class="col col-50 ">
                        <a href="#"><button class="button button-large button-positive">Recogidas</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50 col-offset-10 ">
                        <a href="#"><button class="button button-large button-positive">Nueva oferta</button></a>
                    </div>
                    <div class="col col-50 ">
                        <a href="#"><button class="button button-large button-positive">Nuevo Producto</button></a>
                    </div>
                </div>
                    <div class="row ">
                    <div class="col col-50 col-offset-10 ">
                        <a href="#"><button class="button button-large button-positive">Nueva oferta</button></a>
                    </div>
                    <div class="col col-50 ">
                        <a href="#"><button class="button button-large button-positive">Nuevo Producto</button></a>
                    </div>
                </div>

            </div>
            <div class="col col-40 ">

                    <p>esto es una prueba</p>

                </div>




            <!--<div class="col">
            <div class="card category-card">
                <div class="item">
                    <h2 class="item-title">Bebidas</h2>
                </div>
                <div class="item item-image">
                    <img src="img/promo/bebidas.jpg">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col col-50 col-offset-25">
                <a href="#/recientes"><button class="button button-block button-large button-positive">Recoger</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col">
            <div class="card category-card">
                <div class="item">
                    <h2 class="item-title">Cafes</h2>
                </div>
                <div class="item item-image">
                    <img src="img/promo/cafes.jpg">
                </div>
            </div>
                </div>
            <div class="col">
            <div class="card category-card">
                <div class="item">
                    <h2 class="item-title">Bolleria</h2>
                </div>
                <div class="item item-image">
                    <img src="img/promo/bolleria.jpg">
                </div>
            </div>
                </div>
        </div>

        <div class="row">
            <div class="col col-50 col-offset-25">
                <a href="#/recientes"><button class="button button-block button-large button-positive">Recoger</button></a>
            </div>
        </div>-->
    </ion-content>
</ion-view>
