<ion-view hide-back-button="true" view-title="Home Admin">
    <ion-content>
        <div class="row">
            <div class="col col-50 centrar">

                <div class="row fila ">
                    <div class="col col-40 col-offset-10">
                        <a href="#/admin/Pedido-pendientes"><button class="button button-block button-positive">Ver pedidos</button></a>
                    </div>
                    <div class="col col-20"></div>
                    <div class="col col-40">
                        <a href="#/admin/recogidos"><button class="button button-block button-positive">Pedidos recogidos</button></a>
                    </div>
                </div>


                <div class="row fila2 ">
                    <div class="col col-40 col-offset-10">
                        <a href="#/admin/nueva-oferta"><button class="button button-block button-positive">Nueva oferta</button></a>
                    </div>
                    <div class="col col-20"></div>
                    <div class="col col-40 ">
                        <a href="#/admin/nuevo-producto"><button class="button button-block button-positive">Nuevo Producto</button></a>
                    </div>
                </div>
                    <div class="row fila2 ">
                    <div class="col col-40 col-offset-10">
                        <a href="#/admin/productos"><button class="button button-block button-positive">Ver productos</button></a>
                    </div>
                        <div class="col col-20"></div>
                    <div class="col col-40 ">
                        <a href="#/admin/balance"><button class="button button-block button-positive">Ver Balance</button></a>
                    </div>
                </div>

            </div>
            <div class="col col-50 centrar ">

                <div class="col col-60 resumen">
                    <p class="dato">Pedidos reservados: 10</p>
                    <p class="dato">Pedidos realizado: 6</p>
                    <p class="dato">Pedidos no realizados: 4</p>
                    <p class="dato">Pedidos entregados: 1</p>
                    <p class="dato">Pedidos no entregados: 3</p>
                    <p class="dato">Total ingresos día: 7 €</p>
                </div>


                </div>

        </div>

    </ion-content>
</ion-view>
