<ion-view hide-back-button="true" view-title="Nuevo producto">
    <!--
    <div class="bar bar-subheader">
        <h2 class="title">Iniciar Sesión</h2>
    </div>
-->
    <ion-content >
        <div class="row">
            <form class="col-md-6 col-md-offset-3 ">
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" placeholder="Nombre del producto" />
                </div>
                <div>
                    <label for="categorias">Categoria</label>
                    <select name="categorias">
                        <option>Elige categoria</option>
                        <option >Ofertas</option>
                        <option>Bocadillos</option>
                        <option >Bebidas</option>
                        <option>bolleria</option>
                        <option>Cafes</option>
                </select>
                </div>
                <div>
                    <label for="ingredientes">Ingredientes</label>
                    <textarea name="ingredientes" placeholder="ingredientes de producto"></textarea>
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="number" name="precio">

                </div>
                <div>
                    <label>Informacion adicional</label>
                    <textarea placeholder="Informacion adicional para alérgenos"></textarea>
                </div>
                <div>
                    <label for="imagen">Imagen</label>
                    <div id="img_produ">
                    </div>
                    <input type="button" name="eliminar" value="Eliminar imagen">
                    <input type="button" name="establecer" value="Establecer imagen">
                </div>
                <input type="submit" name="anadir" value="Añadir producto">
            </form>


        </div>
    </ion-content>
</ion-view>
