<ion-view hide-back-button="true" view-title="Nuevo producto">
    <!--
    <div class="bar bar-subheader">
        <h2 class="title">Iniciar Sesión</h2>
    </div>
-->
    <ion-content>
        <div class="row">

            <form class="col  col-offset-10 ">
                <div class="row">
                    <div class="col col-40 col-center">
                        <div class=" item-input">
                            <label class="input-label formfont" for="nombre">Nombre</label>
                            <input type="text" name="nombre" placeholder="Nombre del producto" />
                        </div>
                        <div class=" item-input " >
                            <label class="input-label formfont" for="categorias">Categoria</label>
                            <select class="item-select" name="categorias">
                        <option>Elige categoria</option>
                        <option >Ofertas</option>
                        <option>Bocadillos</option>
                        <option >Bebidas</option>
                        <option>bolleria</option>
                        <option>Cafes</option>
                </select>
                        </div>
                        <div class=" item-input">
                            <label class="input-label formfont" for="ingredientes">Ingredientes</label>
                            <textarea name="ingredientes" placeholder="ingredientes de producto"></textarea>
                        </div>
                        <div class=" item-input">
                            <label class="input-label formfont" for="precio">Precio</label>
                            <input type="number" name="precio">

                        </div>
                        <div class=" item-input">
                            <label class="input-label formfont">Informacion adicional</label>
                            <textarea placeholder="Informacion adicional para alérgenos"></textarea>
                        </div>
                    </div>
                    <div class="col col-50 col-center">
                        <div class="col col-offset-33 ">
                            <label class="formfont" for="imagen">Imagen</label>
                            <div  id="img_produ">
                               
                            </div>
                            <input type="button" class="button button-assertive" name="eliminar" value="Eliminar imagen">
                            <input type="button" class="button button-balanced" name="establecer" value="Establecer imagen">
                        </div>
                    </div>
                </div>
                <input type="submit" class="button button-balanced  col-bottom col-offset-33" name="anadir" value="Añadir producto">
            </form>


        </div>
    </ion-content>
</ion-view>