<ion-view view-title="CFSL-Pedidos pendientes">


    <ion-content>
        <div class="row">
            <div class="bar bar-header bar-stable">
                <h1 class="title">Lista de pedidos</h1>
            </div>
        </div>
        <div class="row" id="pedidospendientes">
            <div class="col col-20">
                <button class="button button-full button-positive">
                      Lunes
                    </button>
                <button class="button button-full button-positive">
                      Martes
                    </button>
                <button class="button button-full button-positive">
                      Miercoles
                    </button>
                <button class="button button-full button-positive">
                      Jueves
                    </button>
                <button class="button button-full button-positive">
                      Viernes
                    </button>
            </div>
            <div class="col col-80" id="tabla_pendientes">
                <div class="row header">
                    <div class="col">Num.pedido</div>
                    <div class="col">Info pedido</div>
                    <div class="col">Fecha y hora</div>
                    <div class="col col-10"></div>
                </div>
                <div class="row" ng-repeat="pendiente in pendientes">
                  <div class="col">
                    <p>{{pendiente.id}}</p>
                  </div>
                  <div class="col">
                    <p>{{pendiente.info}}</p>
                  </div>
                  <div class="col">
                    <p>{{pendiente.fecha}}</p>
                  </div>
                  <div class="col col-10">
                    <ion-checkbox></ion-checkbox>
                  </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
