<ion-view view-title="CFSL-Pedidos recogidos">


    <ion-content>

        <div class="row">
            <div class="bar bar-header bar-stable">
                <h1 class="title">Entregas</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-40 col-offset-75">
                <button class="button  button-positive" id="opencamara" ng-click="doOrder()">Entregar</button>
            </div>
        </div>

        <div class="row center" id="pedidosrecogidos">

            <div class="col col-80 col-offset-10" id="tabla_recogidos">
                <div class="row header">
                    <div class="col">
                        <p>Num.pedido</p>
                    </div>
                    <div class="col">
                        <p>Usuario</p>
                    </div>
                    <div class="col">
                        <p>Fecha y hora</p>
                    </div>
                    <div class="col">
                            <p>Bandeja/Pos</p>
                        </div>
                    <div class="col col-10"></div>
                </div>
                <div class="row" ng-repeat="pendiente in pendientes">
                    <div class="col">
                            <p>{{pendiente.id}}</p>
                    </div>
                    <div class="col">
                        <p>{{pendiente.info}}</p>
                    </div>
                    <div class="col">
                        <p>{{pendiente.date}}</p>
                    </div>
                    <div class="col">
                            <p>{{pendiente.celda}}</p>
                        </div>
                    <div class="col col-10">

                        <ion-checkbox ng-checked="isChecked={{pendiente.estado}}"></ion-checkbox>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
