<ion-view view-title="CFSL-Pedidos recogidos">

    <ion-content>
        <div class="row">
            <div class="bar bar-header bar-stable">
                <h1 class="title">Lista de pedidos</h1>
            </div>
        </div>

        <div class="pedidosrecogidos">

                <div class="row">
                    <div class="col col-20">Num.pedido</div>
                    <div class="col col-20">Info pedido</div>
                    <div class="col col-20">Fecha y hora</div>
                    <div class="col col-10">checkbox</div>
                </div>

                <div class="row">
                    <div class="col col-20">
                        hola
                    </div>
                    <div class="col col-20">
                       hola
                    </div>
                    <div class="col col-20">
                       hola
                    </div>
                    <div class="col col-10">
                        <ion-checkbox></ion-checkbox>
                    </div>
                </div>

        </div>

    </ion-content>
</ion-view>
