
<ion-tabs class="tabs-positive tabs-striped">

    <ion-tab class="tab" title="BOCADILLOS" icon-on="" icon-off="" href="#/admin/productos/bocadillos">
        <ion-nav-view name="tab-bocadillos"></ion-nav-view>
    </ion-tab>

    <ion-tab class="tab" title="BEBIDAS" icon-on="" icon-off="" href="#/admin/productos/bebidas">
        <ion-nav-view name="tab-bebidas"></ion-nav-view>
    </ion-tab>

    <ion-tab class="tab" title="CAFÉS" icon-on="" icon-off="" href="#/admin/productos/cafes">
        <ion-nav-view name="tab-cafes"></ion-nav-view>
    </ion-tab>

    <ion-tab class="tab" title="BOLLERÍA" icon-on="" icon-off="" href="#/admin/productos/bolleria">
        <ion-nav-view name="tab-bolleria"></ion-nav-view>
    </ion-tab>
    <ion-tab class="tab" title="HOME"  icon-on="" icon-off="" href="#/admin/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

</ion-tabs>
