<ion-view view-title="CFSL-Pedidos recogidos">

    <ion-content>
        <div class="row">
            <div class="bar bar-header bar-stable">
                <h1 class="title">Productos</h1>
            </div>
        </div>
    </ion-content>

    <ion-tabs class="tabs-positive tabs-striped">

        <ion-tab class="tab" title="BOCADILLOS" icon-on="" icon-off="">
            <!-- Tab 1 content -->
        </ion-tab>

        <ion-tab class="tab" title="BEBIDAS" icon-on="" icon-off="">
            <!-- Tab 2 content -->
        </ion-tab>

        <ion-tab class="tab" title="CAFÉS" icon-on="" icon-off="">
            <!-- Tab 3 content -->
        </ion-tab>

        <ion-tab class="tab" title="BOLLERÍA" icon-on="" icon-off="">
            <!-- Tab 4 content -->
        </ion-tab>

    </ion-tabs>



</ion-view>
