<ion-view view-title="BEBIDAS">
  <ion-content >
        <h2>Esta es la vista de los bebidas</h2>
        <h2>Esta es la vista de los bebidas</h2>
      <h2>Esta es la vista de los bebidas</h2>
      <h2>Esta es la vista de los bebidas</h2>
      <h2>Esta es la vista de los bebidas</h2>
      <h2>Esta es la vista de los bebidas</h2>
      <h2>Esta es la vista de los bebidas</h2>
      <h2>Esta es la vista de los bebidas</h2>
      <h2>Esta es la vista de los bebidas</h2>
  </ion-content>
</ion-view>
