<ion-view view-title="BOLLERIA">
  <ion-content>
        <h2>Esta es la vista de la bollería</h2>
        <h2>Esta es la vista de la bollería</h2>
        <h2>Esta es la vista de la bollería</h2>
      <h2>Esta es la vista de la bollería</h2>
      <h2>Esta es la vista de la bollería</h2>
      <h2>Esta es la vista de la bollería</h2>
      <h2>Esta es la vista de la bollería</h2>
      <h2>Esta es la vista de la bollería</h2>
      <h2>Esta es la vista de la bollería</h2>
  </ion-content>
</ion-view>
