.grafico{
    text-align: center;
}

.imagenGrafico{
    border: #387ef5 7px solid;
    width: 80%;
    margin-top: 7%;
}

.pedidosrecogidos{
    text-align: center;
     margin-top: 7%;
    margin-left: 10%;
}


