
#pedidospendientes {
    margin-top: 40px;
    #tabla_pendientes {
        button{
            margin: 0;
        }
        .header .col {
            background-color: lightgrey;
        }

        .col {
            border: solid 1px grey;
            border-bottom-style: none;
            border-right-style: none;
        }

        .col:last-child {
            border-right: solid 1px grey;
        }

        .row:last-child .col {
            border-bottom: solid 1px grey;
        }
        .filarow:checked{
            background-color:rgb(0, 70, 128); 
        }
       
        p{
            font-size: 2em;
        }

    }
}

