<ion-view view-title="Productos">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title ">Bocadillos</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="row">
            <div class="col">
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/promo/bocadillos.jpg">
                        <h2>Bocata</h2>
                        <p>Salchichón, Queso</p>
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/promo/bocadillos.jpg">
                        <h2>Pretty Hate Machine</h2>
                        <p>Nine Inch Nails</p>
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/promo/bocadillos.jpg">
                        <h2>Pretty Hate Machine</h2>
                        <p>Nine Inch Nails</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 col-offset-25">

            </div>
        </div>
    </ion-content>
</ion-view>
