<ion-view view-title="Carrito">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title ">Productos<span class="badge badge-positive margin-sides-sm">{{pedido.cTotal}}</span></h2>
    </div>
    <ion-content class="has-subheader">
        <div class="row product-list padding-0">
            <div class="col" ng-if="pedido.cTotal > 0">
                <div class="list card" ng-repeat="producto in pedido.productos">
                    <div class="item item-avatar item-text-wrap">
                        <img src="img/promo/{{producto.img}}">
                        <div class="row row-center">
                            <div class="col-70">
                                <span class="badge badge-dark item-badge">{{producto.cantidad}}</span>
                                <h2>{{producto.nombre}}</h2>
                            </div>
                            <div class="col col-30 right">
                                <strong><span class="price assertive">{{producto.precio}}€</span></strong>
                            </div>
                        </div>
                    </div>
                    <div class="item item-divider">
                        <div class="row padding-0 button-bar center">
                            <button ng-click="cart.remove(producto.id)" class="button button-small button-assertive"> Eliminar 1
                            </button>
                            <button ng-click="cart.add(producto.id)" class="col-33 button button-small button-assertive btn-delete-all">Todos
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col padding-top-50 center" ng-if="pedido.cTotal === 0">
                <p class="info dummy-text">Ups, no has añadido nada al carrito</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable">
        <h1 class="title col-50">Total: {{pedido.pTotal}} €</h1>
        <div class="buttons order-bar-btn">
            <button class="button button-positive" ui-sref="pedir" ng-disabled="pedido.productos.length == 0">Pedir</button>
        </div>
    </ion-footer-bar>
</ion-view>
