<ion-view view-title="Pedido {{pedido.codigo}}">
    <ion-content>
        <div class="row row-center">
            <div class="col">
                <div class="list profile-card">
                    <div class="item item-thumbnail-left">
                        <img src="img/promo/QR.jpg">
                        <br>
                        <h2 class="code">Código: {{pedido.codigo}}</h2>
                        <p>{{pedido.reserva.dia_recogida+" - "+pedido.reserva.hora_recogida}}</p>
                    </div>
                    <div class="item item-divider padding-0">
                        <div class="row">
                            <div class="col col-50 "><div class="entregado">{{pedido.estado}}</div></div>
                            <div class="col col-50 col-center right"><div class="total">Total: {{pedido.pTotal + " €"}}</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-list padding-0">
            <div class="col">
                <div class="list card" ng-repeat="producto in pedido.productos">
                    <div class="item item-avatar item-text-wrap">
                        <img src="img/promo/{{producto.img}}">
                        <div class="row row-center padding-0">
                            <div class="col-70">
                                <h2 class="product-name">{{producto.nombre}}</h2>
                                <p>Cantidad: {{producto.cantidad}}</p>
                            </div>
                            <div class="col col-30 right">
                                <strong><span class="price calm">{{producto.precio}} €</span></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
