<ion-modal-view>
    <ion-header-bar class="bar bar-positive">
        <h1 class="title">Pedido realizado</h1>
    </ion-header-bar>
    <ion-content class="backlight">
        <div class="row">
        <div class="col">
                <h1>Pedido realizado</h1>
            </div>
        </div>
        <div class="row">

            <div class="col center">
                <img src="img/promo/QR.jpg" class="col-80"/>
            </div>
        </div>
        <div class="row center">
            <div class="col col-50 col-offset-25">
                <strong><p>Código de pedido</p></strong>
                <p>Total pedido:</p>
                <p>Fecha de recogida:</p>
            </div>
        </div>
        <div class="row center">
            <div class="col col-40 col-offset-10">
                <a href="#/detalle-pedido"><button class="button button-block button-outline button-positive icon-left ion-home">Ir a inicio</button></a>
            </div>
            <div class="col col-40">
                <a href="#/detalle-pedido"><button class="button button-block button-positive">Ver pedido</button></a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
