<ion-view view-title="Pedidos recientes">
    <ion-header-bar class="bar-subheader bar-stable bar-stable" align-title="center">
        <div class="buttons">
            <button class="button icon ion-ios-arrow-back" ng-click="nav.backward(actual)" ng-disabled="!nav.hasNewer(actual)"></button>
        </div>
        <h1 class="title center">{{pedido.fecha}}</h1>
        <div class="buttons">
            <button class="button icon ion-ios-arrow-forward" ng-click="nav.forward(actual)" ng-disabled="!nav.hasOlder(actual)"></button>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader" on-swipe-left="nav.forward(actual)" on-swipe-right="nav.backward(actual)">
        <div class="pedido" ng-if="pedido">
            <div class="row">
                <div class="col center">
                    <img src="img/promo/QR.jpg" class="col-80" />
                </div>
            </div>
            <div class="row">
                <div class="col col-50 right">
                    <strong>
                        <p>Nº de pedido:</p>
                    </strong>
                    <strong>
                        <p class="soft">Precio total:</p>
                    </strong>
                    <strong>
                        <p class="soft">Fecha de recogida:</p>
                    </strong>
                </div>
                <div class="col col-30">
                    <strong>
                        <p>{{pedido.codigo}}</p>
                    </strong>
                    <p class="soft">{{pedido.pTotal}} €</p>
                    <p class="soft">{{pedido.reserva.dia_recogida | date : 'dd/MM/yyyy'}} - {{pedido.reserva.hora_recogida}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-50 col-offset-25">
                    <a href="#/pedido/view/{{pedido.codigo}}"><button class="button button-block button-positive">Ver pedido</button></a>
                </div>
            </div>
        </div>
        <div class="pedido center" ng-if="!pedido"><p class="info dummy-text">Todavía no has hecho ningun pedido</p></div>
    </ion-content>
</ion-view>
