<ion-view view-title="Pedir">
    <div class="bar bar-subheader bar-stable">
        <h1 class="title">Configura tu pedido</h1>
    </div>
    <ion-content class="has-subheader">
        <div class="row">
            <div class="col list">
                <p class="info">FECHA DE RECOGÍDA</p>
                <label class="item item-input">
                <span class="input-label" >Día</span>
                <input type="date" name="fecha-recogida" placeholder="" ng-model="pedido.reserva.dia_recogida" ui-date ui-date-format="mm/dd/yyyy">
              </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                      Hora
                    </div>
                    <select ng-model="pedido.reserva.hora_recogida">
                      <option selected>10:50</option>
                      <option>14:05</option>
                      <option>15:20</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="row margin-top">
            <div class="col list">
                <p class="info">RESUMEN</p>
                <div class="item">
                    <div class="row">
                        <div class="col-50"><p class="hard">Productos: </p></div>
                        <div class="col-50"><p class="right">{{pedido.cTotal}} </p></div>
                    </div>
                    <div class="row">
                        <div class="col-50"><p class="hard">Precio total: </p></div>
                        <div class="col-50"><p class="right">{{pedido.pTotal}} €</p></div>
                    </div>
                    <div class="row">
                        <div class="col-50"><p class="hard">Fecha de recogída: </p></div>
                        <div class="col-50"><p class="right">{{pedido.reserva.dia_recogida | date : 'dd/MM/yyyy'}} - {{pedido.reserva.hora_recogida}}</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col col-50 col-offset-25">
                <button class="button button-block button-positive" ng-click="popConfirmar()" ng-disabled="pedido.reserva.dia_recogida == null || pedido.reserva.hora_recogida == ''">Pedir y pagar</button>
            </div>
        </div>
    </ion-content>
</ion-view>
