<ion-view view-title="Pedir">
    <div class="bar bar-subheader">
        <h2 class="title">Fecha de recogída</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="row">
            <div class="col list responsive-sm">
                <label class="item item-input">
                <span class="input-label">Día</span>
                <input type="date" name="fecha-recogida" placeholder="">
              </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                      Hora
                    </div>
                    <select>
                      <option selected>10:50</option>
                      <option>14:05</option>
                      <option>15:20</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col col-50 col-offset-25">
                <button class="button button-block button-positive" ng-click="doOrder()">Pedir y pagar</button>
            </div>
        </div>
    </ion-content>
</ion-view>
