<ion-view hide-back-button="true" view-title="Pedir">
    <div class="bar bar-subheader">
        <h2 class="title">Fecha de recogída</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="row">
            <div class="col list responsive-sm">
                <label class="item item-input">
                <span class="input-label">Día de recogida</span>
                <input type="text" placeholder="">
              </label>
                <label class="item item-input">
                <span class="input-label">Hora</span>
                <input type="password">
              </label>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col col-50 col-offset-25">
                <a href="#/home"><button class="button button-block button-positive">Pedir y pagar</button></a>
            </div>
        </div>
    </ion-content>
</ion-view>
