.btn-delete-all{
    background-color: darken($color: $assertive, $amount: 15%) !important
}

.dummy-text {
    margin-top: 30vh;
}

.order-bar-btn{
    width:35%;
    
    button{
        margin:0px !important;
            font-size: 16px !important;
    }
}
