.profile-card {
    align-items: center;
    .profile-img {
        border-radius: 50px;
    }

    

    .saldo{
        font-weight: 700;
        font-size: 16px;
        color: #2a2a2a;
    }
}

.autorizado, .pendiente{
        @extend .estado;
        background-color: #551095 !important;
    }

.mayor-edad, .entregado {
    @extend .estado;
    background-color: #109526 !important;
}

.btn-logout{
    border-radius: 25px;
}

.denied-action{
    p{
        text-align: justify;
    }
    .min{
        font-size: 14px;
    }
}
