<ion-view view-title="Añadir saldo">
    <ion-content>
        <div class="row denied-action">
            <div class="col center">
                <div class="card">
                    <div class="item item-divider assertive">
                        <strong>Acción no permitida</strong>
                    </div>
                    <div class="item item-text-wrap ">
                        <p>Lo sentimos, esta función todavía no esta disponible para ti.
                            <br>
                            <br> Puedes añadir saldo a tu monedero desde la secretaría del instituto o desde la cafetería.</p>
                        <br>
                        <br>
                        <p class="min">
                            Si crees que esto es un error, porfavor contacta con la secretaría del centro para más información.</p>
                    </div>
                </div><a href="#/perfil">
                <button class="button icon-left ion-android-arrow-back button-positive" >Volver atrás</button></a>
            </div>
        </div>
    </ion-content>
</ion-view>
