<ion-view view-title="Mi perfil">
    <ion-content>
        <div class="row row-center">
            <div class="col">
                <div class="list profile-card">
                    <div class="item item-thumbnail-left">
                        <img class="profile-img" src="img/promo/bocadillos.jpg">
                        <br>
                        <h2>Pepe Pérez</h2>
                        <p>pepe@iesfuentesanluis.org</p>
                    </div>
                    <div class="item item-divider padding-0">
                        <div class="row">
                            <div class="col col-50 "><div class="autorizado">AUTORIZADO</div></div>
                            <div class="col col-25 col-offset-20"><div class="saldo">10,00 €</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list card">

          <a class="item item-icon-left">
            <i class="icon ion-android-star-outline"></i>
            Favoritos
          </a>

          <a href="#/pedidos/recientes" class="item item-icon-left">
            <i class="icon ion-android-time"></i>
            Historial de pedidos
          </a>

          <a href="#/perfil/saldo" class="item item-icon-left">
            <i class="icon ion-card"></i>
            Añadir saldo
          </a>
        </div>
        <div class="row">
        <div class="col center">
            <a href="#/login">
                <button class="button icon-left ion-log-out btn-logout button-assertive">Cerrar sesión</button>
            </a>
        </div>
        </div>
    </ion-content>
</ion-view>
